header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a3c1e0;
    border-radius: 20px;
    font-size: 25px;
}

body {
    background-color: #f0f8ff;
}

#links {
    display: flex;
    list-style: none;
    display: inline-block;
    /*Deixa os links alinhados horizontalmente*/
    margin: 0 10px;
}

li a {
    text-decoration: none;
    /*Retira o sublinhado dos links da lista*/
}

li a:hover {
    /*Acões que ocorrem quando é passado o mouse encima dos links de acesso*/
    color: #0abfbc;
}

li {
    list-style: none;
}

#logo {
    display: flex;
    width: 60px;
    left: 20px;
    right: 40px;
    position: absolute
}

a {
    color: black;
}


.ilustração-de-disturbios {
    width: 250px;
    border-radius: 8px;
}

/*Estilização dos blocos que contêm informaçoes*/
.conteiner {
    gap: 20px;
    display: flex;
    align-items: flex-start;
}

#bloco-ansiedade {
    background-color: #f0f8ff;
    /* cor de fundo suave */
    border: 1px solid #a3c1e0;
    /* borda leve */
    border-radius: 8px;
    /* cantos arredondados */
    padding: 40px;
    /* espaçamento interno */
    margin-left: 300px;
    /* espaçamento da esquerda */
    margin-top: 50px;
    /*espaçamento de topo*/
    max-width: 400px;
    /* largura máxima */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* sombra para destaque */
    display: block;

}


#bloco-informativo {
    background-color: #f0f8ff;
    /* cor de fundo suave */
    border: 1px solid #a3c1e0;
    /* borda leve */
    border-radius: 8px;
    /* cantos arredondados */
    padding: 40px;
    /* espaçamento interno */
    margin: 50px auto;
    /* espaçamento externo */
    max-width: 400px;
    /* largura máxima */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* sombra para destaque */



}

strong {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tela p {
    margin: 0;
}

button {
    background-color: #0abfbc;
    /* verde */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;

}

#apresentacao {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #f0f8ff;
    border: 1px solid #a3c1e0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin:auto;
    
}

#texto {
   text-align: center;
   font-size: 1.8em;
}

#texto h2 {
    margin-bottom: 10px;
    font-size: 2.4;
    margin-top: 70px;
}

#apresentacao img {
    max-width: 400px;
}

.rodape{
  background-color: #00bcbc;
  color: #000;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  margin-top: 30px;
  align-items: center;
  
}

.rodape-secao {
  flex: 1 1 200px;
  margin: 10px;
}

.rodape-secao h3 {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.rodape-secao a {
  color: #000;
  text-decoration: none;
  margin-right: 8px;
}

.rodape-secao ul {
  list-style-type: none;
  padding-left: 0;
}

.rodape-secao li {
  margin-bottom: 5px;
}

.rodape-botao {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  border-top: 1px solid #000;
  padding-top: 10px;
}




/*Estilização do Index*/

.title {
    font-style: italic;
    display: flex;
    font-size: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#descricao {
    display: flex;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0abfbc;
    padding: 50px;
    max-width: fit-content;
    border-radius: 20px;
    margin: auto;
    align-items: center;
}

#descricao img {
    width: 400px;
    padding: 10px;
    margin-right: 15px;
}